<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="~/Home/Index">
        <img src="~/Images/logo.png" id="mainLogo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">@Html.ActionLink("Matches", "Index", "Matches", null, new { @class = "nav-link navForHover" })</li>
            <li class="nav-item ">@Html.ActionLink("Teams", "Index", "Teams", null, new { @class = "nav-link navForHover" })</li>
            <li class="nav-item ">@Html.ActionLink("Players", "Index", "Players", null, new { @class = "nav-link navForHover" })</li>
            <li class="nav-item ">@Html.ActionLink("Statistics", "Statistics", "Matches", null, new { @class = "nav-link navForHover" })</li>
        </ul>
        <div class="navbar-nav ml-auto">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>
